body {
    font-family: Arial, Helvetica, sans-serif,
}

.t {
    background-color: rgb(245, 88, 31);
}

.header2 {
    background-color: #26A1DA;
}

#action-button {
    display: flex,
}

.cookingPhoto {
    height: 300px,
}

